**/node_modules
**/.next
**/dist
**/.git
**/coverage
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.DS_Store
**/.idea
**/.vscode
**/Dockerfile
**/.dockerignore
**/.github
**/test
**/*.log
**/*.tsbuildinfo
